body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .Voltar {
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  .page-title,
  .page-subtitle {
    color: #ffffff;
    margin: 5px 0;
  }
  
  .page-logo {
    width: 200px;
    margin: 0 auto;
  }
  
  .alura-logo {
    width: 40px;
    margin-top: 10px;
  }
  
  #listaFilmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .filme-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .filme-item img {
    max-width: 150px;
    max-height: 200px;
  }
  
  .filme-item p {
    display: inline-block;
    color: #da1e26;
  }
  .filme-item button{
    border: 1px solid black;
    border-radius: 4px;
    background-color:rgba(255, 0, 128, 0.678);
    color: #ffffff;
    padding: 5px;
  }
  
  .form-wrapper {
    margin-bottom: 20px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  
  .filme-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
  }